.msg__sort-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 1.25rem;
  margin-bottom: 20px;
}

.msg__sort-icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.msg__sort-icon--text {
  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: rgba(239, 67, 67, 1);
}

.msg__article {
  padding: 0.7rem;
  background-color: rgba(255, 255, 255, 1);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  position: relative;
}

.msg__createdAt {
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.msg__line-before--username {
  width: 22px;
  margin-right: 0.25rem;
  border: 1px solid black;
}

.msg__post {
  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.msg__username-and-edit-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.msg__username-section {
  display: flex;
  align-items: center;
}

.msg__username {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  font-family: "PT Sans", sans-serif;
}

.msg__edit-btn {
  height: 15px;
  width: 15px;
}

.msg__arrow {
  left: auto;
  right: 20px;
  bottom: -32px;
  position: absolute;
}

.msg__error-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.msg__errorMsg {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
  line-height: 48px;
  font-family: "PT Sans", sans-serif;
}

.msg__sort-label {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.msg__sort-select {
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.msg__wave-wrapper {
  position: relative;
}

.msg__error-wave1 {
  position: absolute;
}

.msg__error-wave2 {
  position: absolute;
}
